.pocket--right {
    display: flex;
}

.pocket--right .currency {
    padding-left: 5px;
}

.pocket--right.reverse {
    flex-direction: row-reverse;
}

.pocket--right.reverse .currency {
    padding: 0;
    padding-right: 5px;
}