.currency-card {
    padding: 20px;
    margin: 15px 0;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: background-color 0.5s;
}

.currency-card.exceeded {
    border: 3px solid #c0392b;
    background-color: #fab1a0;
    padding: 17px;
}