.pocket {
    font-size: 1.5em;
    border: 2px solid #0984e3;
    background-color: #0984e3;
    color: #fff;
    padding: 18px;
    margin: 10px 0;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.5s, border 0.5s;
    cursor: pointer;
}

.pocket:hover {
    background-color: #74b9ff;
    border: 2px solid #0984e3;
    padding: 18px;
}
